{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "pure": true, "ssr": true }],

    [
      "module-resolver",
      {
        "alias": {
          // Libraries
          "@lib/config": ["./libs/config/src"],
          "@lib/translator": ["./libs/translator/src"]
        }
      }
    ]
  ]
}
